@import "reset";
@import "calendar";
@import "variables";

@each $number in $numbers {
  .calendar-#{$number} {
    div:not(:nth-child(-n + #{$number})) {
      display: none;
    }
  }
}

@each $day, $i in $days {
  .calendar-#{$day} {
    div:first-child {
      margin-left: calc((#{$i} * #{$e-size} + (#{$i} * #{$margin})));
    }
  }
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::before {
    content: "#{$i}";
  }
}
